
<header><h1>Login with an existing account</h1></header>

<div class= "box-3">
<%= render partial: 'partials/flash_messages' %>
    
<%= form_tag('/login', method: :post) do %>

        <%= label_tag :name, "Username" %>
        <%= select_tag 'user_name', options_from_collection_for_select(@users, :id, :user_name), class: "form-input form-select" %>


        <%= label_tag :password %>
        <%= password_field_tag :password, nil, class: "form-input" %>


        <%= submit_tag("Login", class: "button login") %>

<% end %> 
</div>