<header><h1>Username: <%= current_user.user_name %></h1></header>
<div class= "box-2">
<%= render partial: 'partials/flash_messages' %>
<br><br>
<p>User Bio: <%= current_user.bio%></p>
<br><br>
<p>Planets You Have Visited:</p>
<% current_user.planets.each do |pl|%>
  <%= pl.name%>
  <br>
<% end %>
<br>

<%= link_to  "Edit Your Info", edit_user_path(current_user) %>
<br>
<%= link_to  "See Your Visits", user_visits_path(current_user) %>
</div>


