<!DOCTYPE html>
<html>
  <head>
    <title>The Intergalactic Travel Agency</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>
  </body>
  <footer>
  <div class= "box-1">
    <% if authenticated %>
      <%=link_to "See Your Info", user_path(current_user)%>
      <%= link_to  "See All Visits", visits_path %>
      <%= link_to  "See Planets", planets_path %>
      <%= button_to  "Logout", logout_path(:user_id => current_user.id) %>
    <%end%>
  </div>
  </footer>
</html>
